.blog-title {
    font-size: 1.5rem;
    margin-top: 40px;
    font-weight:bolder;
}
.fullblog {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    font-size: 1.3rem;
    color: #222;
}
.tc li {
    font-size:1.1rem; 
}
.first {
    width: 50%;
    float: left;
}
.second {
    width: 50%;
    float: right;
}
.third {
    width: 50%;
    float: left;
}
.fourth {
    width: 50%;
    float: right;
}
.agreed-word {
    color: #3C486B;
}